<div class="container mt-5 col-8">
  {{!-- filter --}}
  <div class="row">
    <select class="form-control form-control-lg">
      <option>家居物業</option>
      <option>交通出行</option>
      <option>休閒娛樂</option>
      <option>餐飲食品</option>
      <option>其他</option>
    </select>
  </div>

  {{!-- grand total --}}
  <div class="row m-5">
    <h3 class="col-2">總金額：</h3>
    <h1 class='col-6'>{{totalAmount}}</h1>
  </div>

  {{!-- show info default sort by max date --}}
  <ul class='list-group'>
    {{#each recordList}}
    <li class='list-group-item'>
      <div class="row justify-content-around">
        <div class="col-1">
          <i class="fas fa-{{this.iconName.[0].categoryIcon}} fa-5x"></i>
        </div>

        <div class="col-2">
          <h4>{{this.name}}</h4>
          <h5>{{this.date}}</h5>
        </div>

        <div class="col-1">
          <div>
            <h4 class="align-right">{{this.amount}}</h4>
          </div>
        </div>

        <div class="col-2">
          <a class='btn btn-success' href="#">修改</a>
          <form action="#" method="POST" style="display: inline;">
            <button class='btn btn-danger' type="submit">刪除</button>
          </form>
        </div>

      </div>
    </li>
    {{/each}}
  </ul>
</div>

{{!-- create new --}}
<div class="text-center m-5">
  <a href="/new">
    <button type="button" class="btn btn-primary btn-lg">新增支出</button>
  </a>
</div>